.admin-secretary-page-header {
    text-align: center;
    margin-bottom: 30px;
}

.admin-secretary-page-header h1 {
    font-size: 34px;
    margin: 0;
    color: white;
}

.admin-secretary {
    gap: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.admin-secretary-list-section {
    display: flex;
}

.admin-secretary-list {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: auto;
    list-style: none;
}

.admin-secretary-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgb(255, 255, 255);
    padding: 16px 24px;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: none;
    margin: auto;
    transition: box-shadow 0.2s;
    min-width: 100px;
}

.admin-secretary-info {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.admin-secretary-info-title {
    font-size: larger;
    font-weight: 600;
}

.admin-secretary-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-secretary-metadata {
    color: white;
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #ffffff1a;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.admin-secretary-metadata h3 {
    margin: 0 0 10px 0;
}

.admin-secretary-metadata-info p {
    margin: 0;
}