.admin-profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.admin-profile-header h1 {
    font-size: 34px;
    margin: 0;
    color: white;
}

.admin-profile-content {
    margin: 0 20px;
}

.form-group input:read-only {
    background-color: transparent;
    border: 1px solid #ffffff70;
    color: #fff;
    cursor:initial;
}

.edit-btn,
.change-password-btn,
.save-btn {
    background: #fff;
    color: #03144D;
}

.save-btn:hover, .change-password-btn:hover, .edit-btn:hover {
  background: #ffffffc7;
}