.define-password-header {
    text-align: center;
    margin-bottom: 30px;
}

.define-password-header h1 {
    font-size: 34px;
    margin: 0;
    color: white;
}

.define-password-content {
    margin: 0 20px;
}

.define-password-text {
    text-align: center;
    margin-bottom: 20px;
}

.form-group input:read-only {
    background-color: transparent;
    border: 1px solid #ffffff70;
    color: #fff;
    cursor:initial;
}