.admin-forgot-password-header {
    text-align: center;
    margin-bottom: 30px;
}

.admin-forgot-password-header h1 {
    font-size: 34px;
    margin: 0;
    color: white;
}

.admin-forgot-password-content {
    margin: 0 20px;
}

.admin-forgot-password-text {
    text-align: center;
    margin-bottom: 20px;
}

.form-group input:read-only {
    background-color: transparent;
    border: 1px solid #ffffff70;
    color: #fff;
    cursor:initial;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.edit-btn,
.forgot-password-btn,
.save-btn {
    background: #fff;
    color: #03144D;
}

.save-btn:hover, .forgot-password-btn:hover, .edit-btn:hover {
  background: #ffffffc7;
}

.cancel-btn {
  background: #ffffff30;
  color: #fff;
}

.cancel-btn:hover {
  background: #ffffff70;
}